# UI & Deployment
streamlit

# Core dependencies
langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langchain-text-splitters>=0.3.0

# AI/ML
google-generativeai>=0.8.0
langchain-openai
openai
# נוריד את הגרסה הספציפית של numpy כדי שהמערכת תבחר את המתאימה ביותר
numpy>=2.1.0

# Database
psycopg2-binary>=2.9.0

# Utilities
python-dotenv

# Document support
pypdf>=3.17.0
docx2txt

pypdf
